server {
    listen:localhost:8080
    server_name:    web1, web2
    limit_req:        10

    errors {
        404 ./www/static/errors/404.html
        405 ./www/static/errors/405.html
    }

    locations {
        location / {
            # index:            index.html
            limit_except:    GET
            uploads: www/static/uploads/
            alias: /www/static/html/
            cgi {
                add-handler: .py /usr/bin/python3
                add-handler: .php /usr/bin/php-cgi
                # add-handle
            }
        }

        location /html/ {
            index:         index.html
            alias:         /www/static/html/
            autoindex:    off
            limit_except:    GET, DELETE, POST
            cgi {
                add-handler: .py python3
                add-handler: .php php
            }
        }

        location /assets/ {
            alias: /www/static/assets/
            limit_except: GET
            # uploads:
            index: mov_bbb.mp4
            autoindex: on
            cgi {
                add-handler: .py python3
                add-handler: .php php
            }
        }
        location /BA333/ {
            return: /MEWWW/
        }
        location /MEWWW/ {
            return: /HOWWW/
        }
        location /HOWWW/ {
            return: /
        }
    }
}